@model IEnumerable<GSA.UnliquidatedObligations.Web.Models.UserModel>
@using RevolutionaryStuff.Core

<table class="table table-responsive users-data">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Claims
        </th>
        <th>Groups</th>
        <th>Other Regions</th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                <ul>
                    @foreach (var claim in user.Claims)
                    {
                        var c = claim;
                        if (!RegexHelpers.Common.Whitespace.IsMatch(c))
                        {
                            c = StringHelpers.ToTitleFriendlyString(c);
                        }
                        <li>@c</li>
                    }
                </ul>

            </td>
            <td>
                <ul>
                    @foreach (var group in user.Groups)
                    {
                        <li>@group</li>
                    }
                </ul>
            </td>
            <td>
                <ul>
                    @foreach (var otherRegion in user.OtherRegions)
                    {
                        <li>@otherRegion</li>
                    }
                </ul>
            </td>
            <td>
                <a data-id="@user.UserId" class="edit-user" href="#editUserModal">Edit</a>
            </td>
        </tr>
    }
</table>
