@model IEnumerable<GSA.UnliquidatedObligations.BusinessLayer.Data.AspNetUser>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            Claims
        </th>
        <th>Groups</th>
        <th>Other Regions</th>
        <th></th>
    </tr>

    @*@foreach (var item in Model)
        {*@
    <tr>
        <td>
            regionApprover
        </td>
        <td>
            <ul>
                <li>
                    ApplicationUser
                </li>
                <li>
                    CanViewOtherOtherWorkflows
                </li>
                <li>
                    ManageUsers
                </li>
            </ul>

        </td>
        <td>
            <ul>
                <li>
                    Admin
                </li>

            </ul>
        </td>
        <td></td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = 1 }) |
            @Html.ActionLink("Details", "Details", new { id = 1 }) |
            @Html.ActionLink("Delete", "Delete", new { id = 1 })
        </td>
    </tr>
    @*}*@

</table>
