@model GSA.UnliquidatedObligations.Web.Models.UsersModels

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<div class="row user-options">
    <div class="col-md-3">
        @Html.LabelFor(model => model.RegionId, "Select Region:", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.RegionId, Model.Regions, new { @class = "form-control" })
    </div>
</div>
<table class="table table-responsive">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Claims
        </th>
        <th>Groups</th>
        <th>Other Regions</th>
        <th></th>
    </tr>

    @foreach (var user in Model.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.UserName)
            </td>
            <td>
                <ul>
                    @foreach (var claim in user.Claims)
                    {
                        <li>@claim</li>
                    }
                </ul>

            </td>
            <td>
                <ul>
                    @foreach (var group in user.Groups)
                    {
                        <li>@group</li>
                    }
                </ul>
            </td>
            <td></td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = 1 }) |
                @Html.ActionLink("Details", "Details", new { id = 1 }) |
                @Html.ActionLink("Delete", "Delete", new { id = 1 })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
