@using GSA.UnliquidatedObligations.BusinessLayer.Authorization
@model GSA.UnliquidatedObligations.Web.Models.RequestForReassignmentViewModel

@{
    var currentworkflowId = Model.WorkflowId;
    var modalId = currentworkflowId + "RequestForReassignModal";
    var modalBody = modalId + "Body";
    var modalLabel = modalId + "Label";
    var suggestedReviwerId = currentworkflowId + "SuggestedReviewerId";
    var commentsId = currentworkflowId + "RequestComments";
    var isActiveReassignment = false;
    if (Model != null)
    {
        isActiveReassignment = Model.RequestForReassignmentId != null;
    }
    var reviewerLabelText = "Suggested Reviewer:";
    var buttonText = "Request Reassignment";
    var actionName = "RequestReassign";
    var userReassignRegions = UserHelpers.GetReassignmentGroupRegions(User);
    if ((UserHelpers.HasPermission(User, ApplicationPermissionNames.CanReassign) && userReassignRegions.Contains(Model.RegionId)) || isActiveReassignment)
    {
        actionName = "Reassign";
        buttonText = "Reassign to Selected User";
        reviewerLabelText = "Assign to Reviewer";
    }
}

<form asp-controller="@RequestForReassignmentsController.Name" asp-action="@actionName" method="post" asp-route-workflowId="@currentworkflowId">
    @Html.AntiForgeryToken()
    <div class="modal fade requestForReassignModal" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="@modalId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="@modalLabel">ULO Reassignment b</h5>
                </div>
                <div id="@modalBody" class="modal-body">
                    <div class="row">
                        <label for="@suggestedReviwerId">@reviewerLabelText</label><br />
                        @Html.DropDownListFor(model => model.SuggestedReviewerId, Model.Users, AspHelpers.PleaseSelectOne, htmlAttributes: new { @class = "form-control", id = @suggestedReviwerId })
                    </div>
                    <div class="row">
                        <label for="@commentsId">Comments</label>
                        @Html.TextAreaFor(model => model.Comments, htmlAttributes: new { @class = "form-control", id = @commentsId })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">@buttonText</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
