@model GSA.UnliquidatedObligations.Web.Models.RequestForReassignmentViewModel

@{
    var currentworkflowId = Model.WorkflowId;
    var modalId = currentworkflowId + "RequestForReassignModal";
    var modalBody = modalId + "Body";
    var modalLabel = modalId + "Label";
    var suggestedReviwerId = currentworkflowId + "SuggestedReviewerId";
    var commentsId = currentworkflowId + "RequestComments";
}

<form asp-controller="@RequestForReassignmentsController.Name" asp-action="@RequestForReassignmentsController.ActionNames.ReassignFromList" method="post" asp-route-workflowId="@currentworkflowId">
    @Html.AntiForgeryToken()
    <div class="modal fade requestForReassignModal" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="@modalId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="@modalLabel">ULO Reassignment a</h5>
                </div>
                <div id="@modalBody" class="modal-body">
                    <div class="form-group">
                        <label for="@suggestedReviwerId">Assign To Reviewer</label><br />
                        @Html.DropDownListFor(model => model.SuggestedReviewerId, Model.Users, AspHelpers.PleaseSelectOne, htmlAttributes: new { @class = "form-control", id = @suggestedReviwerId })
                    </div>
                    <div class="form-group">
                        <label for="@commentsId">Comments</label>
                        @Html.TextAreaFor(model => model.Comments, htmlAttributes: new { @class = "form-control", id = @commentsId })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Reassign</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
