@model GSA.UnliquidatedObligations.BusinessLayer.Data.UnliquidatedObligation

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Financial/Receipt/Contractual Activity Since Review Date</h3>
    </div>
    <div class="panel-body">
        @if (Model.UloFinancialActivitys.Count == 0)
        {
            <div class="noDataMessage" id="financialActivityNoData">No financial activity has been recorded yet.</div>
            <div class="noDataMessage" id="financialActivityPleaseRefresh" style="display:none">Please reload this page to see the recently added financial activity.</div>
        }
        else
        {
            <table class="table table-responsive table-striped documents-list" id="historyTable">
                <caption>The following information was pulled from Pegasys and EASi.</caption>
                <tr class="documents-heading-row">
                    <th>
                        Post Date
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Reference Number
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
                @foreach (var z in Model.UloFinancialActivitys)
                {
                    <tr>
                        <td>@PortalHelpers.ToLocalizedDisplayDateString(z.ActivityDate)</td>
                        <td>@z.ActivityType</td>
                        <td>@z.ReferenceNumber</td>
                        <td>@Html.Currency(z.Amount)</td>
                        <td>@z.Description</td>
                    </tr>
                }
                <tr style="display:none" id="newFinancialActivityCreatedRow"><th colspan="5">New financial activities have been created. Refresh to see them.</th></tr>
            </table>
        }
        @if (UserHelpers.HasPermission(User, GSA.UnliquidatedObligations.BusinessLayer.Authorization.ApplicationPermissionNames.CreateFinancialActivity))
        {
            <button type="button" class="btn btn-primary finac-add-btn" data-toggle="modal" data-target="#newFinancialActivityDialog" title="Add a new document." onclick="resetCreateFinancialActivityFields()">Add...</button>
        }
    </div>
</div>

<div class="modal fade document-modal" id="newFinancialActivityDialog" tabindex="-1" role="dialog" aria-labelledby="new-fa-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new-fa-label">New Financial Activity</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="newfaActivityDate">Activity Date</label>
                        <input type="date" id="newfaActivityDate" name="newfaActivityDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="newfaActivityType">Activity Type</label>
                        <br />
                        <select id="newfaActivityType" style="margin:0;padding:0" name="newfaActivityType" class="form-control">
                            @foreach (var item in PortalHelpers.FinancialActivityTypeSelectListItems())
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="newfaReferenceNumber">Reference Number</label>
                        <input type="text" maxlength="100" id="newfaReferenceNumber" name="newfaReferenceNumber" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="newfaAmount">Amount</label>
                        <input type="number" id="newfaAmount" name="newfaAmount" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="newfaDescription">Description</label>
                        <textarea id="newfaDescription" name="newfaDescription" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="document-error-msg">This is an Errors</div>
                <button type="button" class="btn btn-primary" onclick="createFinancialActivity()">Create</button>
                <button type="button" class="btn btn-secondary close-document-modal" data-dismiss="modal" onclick="resetCreateFinancialActivityFields()" id="newFinancialActivityDialogCloseButton">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" later>
    function resetCreateFinancialActivityFields() {
        $("#newfaActivityDate,#newfaActivityType,#newfaReferenceNumber,#newfaAmount,#newfaDescription").val("");
    }
function createFinancialActivity() {
    var newfa = {
        activityDate: $("#newfaActivityDate").val(),
        activityType: $("#newfaActivityType").val(),
        referenceNumber: $("#newfaReferenceNumber").val(),
        amount: $("#newfaAmount").val(),
        description: $("#newfaDescription").val(),
    };
    $.ajax({
        type: "POST",
        url: "/ulos/" + @Model.UloId + "/financialActivities/create",
        data: JSON.stringify(newfa),
        contentType: "application/json",
        success: function (result) {
            $("#newFinancialActivityCreatedRow,#financialActivityPleaseRefresh").css("display", "");
            $("#financialActivityNoData").css("display", "none");
        },
        error: standardAjaxErrorHandler
    });
    $("#newFinancialActivityDialogCloseButton").click();
    resetCreateFinancialActivityFields();
    return false;
}
</script>