@model ICollection<GSA.UnliquidatedObligations.BusinessLayer.Data.Note>
 <div class="row ulo-notes">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Notes (@Model.Count)</h3>
        </div>
        <div class="panel-body">
            <table class="table table-responsive table-striped documents-list" id="notesTable">
                <tr class="documents-heading-row">
                    <th>
                        Date
                    </th>
                    <th>
                        Person
                    </th>
                    <th>
                        Comment
                    </th>
                </tr>
                @foreach (var note in Model)
                {
                    var rowId = "note" + note.NoteId;
                <tr id="@rowId">
                    <td>@note.CreatedAtUtc.ToLocalizedDisplayDateString()</td>
                    <td>@note.AspNetUser.UserName</td>
                    <td>@note.Body</td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>