@model GSA.UnliquidatedObligations.BusinessLayer.Data.UnliquidatedObligation
<div class="ulo-details">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Zone:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Region.Zone.ZoneName)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>Region:</dt>
                <dd>
                    @Html.DisplayFor(model => model.Region.RegionName)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row row-space-bottom">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Reason in Review:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ReasonIncludedInReview)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Date of Last Activity:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateOfLastActivity)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Accounting Period:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ActgPd)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Pegasys Document Number:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PegasysDocumentNumber)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Pegasys Title Number:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PegasysTitleNumber)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Pegasys Contract Number:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ContractNum)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Budget Activity:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Prog)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Fund:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Fund)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Organization:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Organization)
                </dd>
            </dl>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Agreement:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Agreement)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    RWA Completion Date:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RWA_Completion_Date)
                </dd>
            </dl>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Vendor Name:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.VendorName)
                </dd>
            </dl>
        </div>
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    Contracting Officers Name:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ContractingOfficersName)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Award Number:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AwardNbr)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Award Expiration Date:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EASi_Awd_Expiration_Dt)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    GSA FSS/Other #:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EASi_GSA_FSS_Other__)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row row-space-top">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Total Line:
                </dt>
                <dd>
                    @*@Html.Currency(Model.TotalLine)*@
                    @Html.Currency(Convert.ToDecimal(Model.TotalLine))
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Receipt:
                </dt>
                <dd>
                    @Html.Currency(Convert.ToDecimal(Model.Rcpt))
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Accrual:
                </dt>
                <dd>
                    @Html.Currency(Convert.ToDecimal(Model.Accrual))
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Pending Payment:
                </dt>
                <dd>
                    @Html.Currency(Convert.ToDecimal(Model.PendPayments))
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Payments(In Transit):
                </dt>
                <dd>
                    @Html.Currency(Convert.ToDecimal(Model.PymtsInTransit))
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Holdbacks:
                </dt>
                <dd>
                    @Html.Currency(Convert.ToDecimal(Model.Holdbacks))
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Total Delivered Orders (DO):
                </dt>
                <dd>
                    @Html.Currency(Convert.ToDecimal(Model.TotalDO))
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Total Undelivered Orders (UDO):
                </dt>
                <dd>
                    @Html.Currency(Convert.ToDecimal(Model.UndelOrders))
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Total Orders:
                </dt>
                <dd>
                    @Html.Currency(Convert.ToDecimal(Model.TotalUDOAndDO))
                </dd>
            </dl>
        </div>
    </div>
</div>


