@model GSA.UnliquidatedObligations.Web.Models.UloViewModel

<div class="ulo-details">
    <h4>UnliquidatedObligation</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <dl class="dl-horizontal">
                <dt>Reviewer:</dt>
                <dd>@Html.DisplayFor(model => model.CurretUnliquidatedObligation.ReviewedBy)</dd>
            </dl>

        </div>
        <div class="col-md-3">
            <dl class="dl-horizontal">
                <dt>Region:</dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Region.RegionNumber)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>
                    Zone:
                </dt>
                <dd>
                    not present in data
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Reason in Review:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.ReasonIncludedInReview)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Pegasys Document Number:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.PegasusDocumentNumber)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Pegasys Title Number:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.PegasysTitleNumber)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Pegasys Contract Number:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.PegasysContractNumber)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Fund:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Fund)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Organization:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Organization)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Prog:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Prog)
                </dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Agreement:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Agreement)
                </dd>
            </dl>
        </div>
        <div class="col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    RWA Completion Date:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.RWACompletionDate)
                </dd>
            </dl>
        </div>
        <div class="col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    Date of Last Activity:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.DateOfLastActivity)
                </dd>
            </dl>
        </div>
        <div class="col-md-2">
            <dl class="dl-horizontal">
                <dt>
                    Actg Pd:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.ActgPd)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Vendor Name:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.PegasysVendorName)
                </dd>
            </dl>
        </div>
        <div class="col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    Contracting Officers Name:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.ContractingOfficersName)
                </dd>
            </dl>
        </div>
        <div class="col-md-3">
            <dl class="dl-horizontal">
                <dt>
                    Award Nbr:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.AwardNbr)
                </dd>
            </dl>
        </div>
        <div class="col-md-2">
            <dl class="dl-horizontal">
                <dt>
                    GSA FSS/Other #:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.GSAFSSOtherNumber)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-7 col-md-5">
            <dl class="dl-horizontal">
                <dt>
                    Awd Expiration Date:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.AwdExpirationDate)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Total Line:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.TotalLine)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Commitments:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Commitments)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Prepayments:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Prepayments)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Rcpt:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Rcpt)
                </dd>
            </dl>
        </div>
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    Undel Orders:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.UndelOrders)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Accrual:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Accrual)
                </dd>
            </dl>
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>
                Pending Payment:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CurretUnliquidatedObligation.PendPayments)
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>
                Pymts(In Transit):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CurretUnliquidatedObligation.PymtsInTransit)
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                Holdbacks:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Holdbacks)
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                Total DO:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CurretUnliquidatedObligation.TotalDO)
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                Total UDO:
            </dt>
            <dd>
                *Total UDO not present in data
                @*@Html.DisplayFor(model => model.CurretUnliquidatedObligation.Total)*@
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                Total DO and UDO:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CurretUnliquidatedObligation.TotalUDOAndDO)
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                DO Should be:
            </dt>
            <dd>
                @Html.TextBoxFor(model => model.DOShouldBe)
            </dd>
        </dl>
    </div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>
                UDO Should be:
            </dt>
            <dd>
                @Html.TextBoxFor(model => model.UDOShouldBe)
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                Total DO and UDO:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CurretUnliquidatedObligation.TotalUDOAndDO)
            </dd>
        </dl>
    </div>
</div>
    
<div class="row">
    attachments going here
</div>
  
<div class="row col-md-8">
    <div class="row header">
        <div class="col-md-4">Date</div>
        <div class="col-md-4">Person</div>
        <div class="col-md-4">Comment</div>
    </div>
    @foreach (var note in Model.CurretUnliquidatedObligation.Notes)
    {
        <div class="row header">
            <div class="col-md-4">@note.Date</div>
            <div class="col-md-4">@note.AspNetUser.UserName</div>
            <div class="col-md-4">@note.NoteContents</div>
        </div>
    }
</div>
</div>
