@model GSA.UnliquidatedObligations.Web.Models.UloViewModel

<div class="ulo-details">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Zone:
                </dt>
                <dd>
                    1
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>Region:</dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Region.RegionId)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row row-space-bottom">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Reason in Review:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.ReasonIncludedInReview)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Date of Last Activity:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.DateOfLastActivity)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Actg Pd:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.ActgPd)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Pegasys Document Number:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.PegasysDocumentNumber)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Pegasys Title Number:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.PegasysTitleNumber)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Pegasys Contract Number:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.ContractNum)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Budget Activity:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Prog)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Fund:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Fund)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Organization:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Organization)
                </dd>
            </dl>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Agreement:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Agreement)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    RWA Completion Date:
                </dt>
                <dd>
                    @* TODO: Need to see what is going on for this *@
                    @*@Html.DisplayFor(model => model.CurretUnliquidatedObligation.RWACompletionDate)*@
                </dd>
            </dl>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Vendor Name:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.VendorName)
                </dd>
            </dl>
        </div>
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    Contracting Officers Name:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.ContractingOfficersName)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Award Nbr:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.AwardNbr)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Award Expiration Date:
                </dt>
                <dd>
                    @* TODO: Need to see what is going on for this *@
                    @*@Html.DisplayFor(model => model.CurretUnliquidatedObligation.AwdExpirationDate)*@
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    GSA FSS/Other #:
                </dt>
                <dd>
                    @* TODO: Need to see what is going on for this *@
                    @*@Html.DisplayFor(model => model.CurretUnliquidatedObligation.fs)*@
                </dd>
            </dl>
        </div>
    </div>
    <div class="row row-space-top">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Total Line:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.TotalLine)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Rcpt:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Rcpt)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Accrual:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Accrual)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Pending Payment:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.PendPayments)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    Pymts(In Transit):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.PymtsInTransit)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Holdbacks:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.Holdbacks)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Total DO:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.TotalDO)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Total UDO:
                </dt>
                <dd>
                   
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.UndelOrders)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    Total DO and UDO:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CurretUnliquidatedObligation.TotalUDOAndDO)
                </dd>
            </dl>
        </div>
    </div>
</div>


