@using GSA.UnliquidatedObligations.BusinessLayer.Data
@model GSA.UnliquidatedObligations.Web.Models.UloViewModel

@{
    ViewBag.Title = Model.CurretUnliquidatedObligation.PegasusDocumentNumber;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUloId = Convert.ToInt32(Context.Request.QueryString["uloId"]);
    var currentworkflowId = Convert.ToInt32(Context.Request.QueryString["workflowId"]);
}

<h2>Details</h2>
@Html.Partial("Details/Workflow/_WorkflowDescription", Model.WorkflowViewModel.WorkflowDescriptionViewModel)
<br />
@Html.Partial("Details/Workflow/_AssignedTo", Model.WorkflowViewModel)

@using (Html.BeginForm("Advance", "Ulo", new { uloId = @currentUloId, workflowId = @currentworkflowId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("Details/_Ulo", Model)
    @Html.Partial("Details/Documents/_Index", Model.WorkflowViewModel.DocumentsViewModel)
    @Html.Partial("Details/_Notes", Model.CurretUnliquidatedObligation.Notes)

    @Html.Partial("Details/Workflow/_Index", Model.WorkflowViewModel)
}

@{

    if (Model.WorkflowViewModel.Workflow.RequestForReassignments.Count == 0)
    {
        Html.RenderAction("Details", "RequestForReassignments");
    }
    else
    {
        Html.RenderAction("Details", "RequestForReassignments", new {id = Model.WorkflowViewModel.Workflow.RequestForReassignments.FirstOrDefault().RequestForReassignmentID});
    }
}
<div class="clearfix">
    @Html.ActionLink("Back to List", "Index")
</div>
