@using GSA.UnliquidatedObligations.Web.Models

@using (Html.BeginForm("", "Users", new { id = 1 }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal fade requestForReassignModal" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                </div>
                <div id="editUserModalBody" class="modal-body">
                    @Html.Partial("Edit/_UserEditBody", new UserModel())

                    @*<div class="row">
                            @Html.LabelFor(model => model.SuggestedReviewerId, @reviewerLabelText, htmlAttributes: new { @class = "col-md-4", @for = @suggestedReviwerId })
                            @Html.DropDownListFor(model => model.SuggestedReviewerId, Model.Users, "Select One..", htmlAttributes: new { @class = "col-md-8", id = @suggestedReviwerId })
                        </div>
                        <div class="row">
                            @Html.LabelFor(model => model.Comments, "Comments:", htmlAttributes: new { @class = "col-md-4", @for = @commentsId })
                            @Html.TextAreaFor(model => model.Comments, htmlAttributes: new { @class = "col-md-8", id = @commentsId })
                        </div>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
}
