@using GSA.UnliquidatedObligations.BusinessLayer.Authorization
@model GSA.UnliquidatedObligations.Web.Models.WorkflowViewModel

@{
    var modalId = "#" + Model.Workflow.WorkflowId + "RequestForReassignModal";
    var userReassignRegions = User.GetReassignmentGroupRegions();
}
@if (User.HasPermission(ApplicationPermissionNames.CanReassign) && userReassignRegions.Contains(Model.Workflow.UnliquidatedObligation.RegionId))
{
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="@modalId">
    @if (!Model.RequestForReassignmentsActive)
    {
        @Html.Encode("Reassign")
    }
    else
    {
        @Html.Encode("Active Reassignment Request")
    }

</button>
}
else if (Model.WorkflowAssignedToCurrentUser)
{
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@modalId">
            @Html.Encode("Request For Reassignment")
    </button>
}
