<button id="showFilters" type="button" class="btn show-filters">
    Show Filters
</button>


@using (Html.BeginForm("RegionWorkflows", "Ulo", FormMethod.Get))
{
    <table class="table filter-region-workflows table" id="filterRegions">

        <tr>
            <td class="label-container"><label for="organization">Zone:</label></td>
            <td><input type="text" name="zone" id="zone" value="@Context.Request["zone"]"/></td>
            <td class="label-container"><label for="region">Region:</label></td>
            <td><input type="text" name="region" id="region" value="@Context.Request["region"]"/></td>
            <td class="label-container"><label for="docType">Document Type:</label></td>
            <td><input type="text" name="docType" id="docType" value="@Context.Request["docType"]"/></td>
        </tr>
        <tr>
            <td class="label-container"><label for="pegasysDocumentNumber">Pegasys Document Number:</label></td>
            <td><input type="text" name="pegasysDocumentNumber" id="pegasysDocumentNumber" value="@Context.Request["pegasysDocumentNumber"]" /></td>
            <td class="label-container"><label for="pegasysTitleNumber">Pegasys Title Number:</label></td>
            <td><input type="text" name="pegasysTitleNumber" id="pegasysTitleNumber" value="@Context.Request["pegasysTitleNumber"]" /></td>
            <td class="label-container"><label for="fund">Fund:</label></td>
            <td><input type="text" name="fund" id="fund" value="@Context.Request["fund"]" /></td>
        </tr>
        <tr>
            <td class="label-container"><label for="organization">Organization:</label></td>
            <td><input type="text" name="organization" id="organization" value="@Context.Request["organization"]" /></td>
            <td class="label-container"><label for="pdn">BA Code:</label></td>
            <td><input type="text" name="baCode" id="baCode" value="@Context.Request["baCode"]" /></td>
            <td class="label-container"><label for="pegasysVendorName">Pegasys Vendor Name:</label></td>
            <td><input type="text" name="pegasysVendorName" id="pegasysVendorName" value="@Context.Request["pegasysVendorName"]" /></td>
        </tr>
        <tr>
            <td class="label-container"><label for="contractingOfficersName">Contracting Officers Name:</label></td>
            <td><input type="text" name="contractingOfficersName" id="contractingOfficersName" value="@Context.Request["contractingOfficersName"]" /></td>
            <td class="label-container"><label for="awardNumber">Award Number:</label></td>
            <td><input type="text" name="awardNumber" id="awardNumber" value="@Context.Request["awardNumber"]"/></td>
            <td class="label-container"><label for="reasonIncludedInReview">Reason Included In Review:</label></td>
            <td><input type="text" name="reasonIncludedInReview" id="reasonIncludedInReview" value="@Context.Request["reasonIncludedInReview"]" /></td>
        </tr>
        <tr>
            <td class="label-container"><label for="contractingOfficersName">Valid:</label></td>
            <td>
                <select id="valid" name="valid" class="form-control">
                    <option></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </td>
            <td class="label-container"><label for="status">Status:</label></td>
            <td><input type="text" name="status" id="status" /></td>
        </tr>
        <tr>
            <td colspan="4">
                <button id="filterWorkflows" class="btn btn-primary">
                    Apply Filters
                </button>
                <button id="clearFilters" class="btn">
                    Clear Filters
                </button>
            </td>
        </tr>
    </table>
}
<br />
<br />
