@using GSA.UnliquidatedObligations.BusinessLayer.Authorization
@model GSA.UnliquidatedObligations.Web.Models.FilterViewModel

<button id="showFilters" type="button" class="btn show-filters">
    Show Filters
</button>

@using (Html.BeginForm("Search", "Ulo", FormMethod.Get))
{
    <table class="table filter-region-workflows table" id="filterRegions">

        <tr>
            <td class="label-container"><label for="reviewId">Review:</label></td>
            <td>@Html.DropDownList("reviewId", Model.Reviews, "", new { @class = "form-control" })</td>
            <td class="label-container"><label for="organization">Zone:</label></td>
            <td>@Html.DropDownList("zone", Model.Zones, "", new { @class = "form-control" })</td>
            <td class="label-container"><label for="region">Region:</label></td>
            <td>@Html.DropDownList("region", Model.Regions, "", new { @class = "form-control" })</td>

        </tr>
        <tr>
            <td class="label-container"><label for="docType">Doc Type:</label></td>
            <td>@Html.DropDownList("docType", Model.DocTypes, "", new { @class = "form-control" })</td>
            <td class="label-container"><label for="pegasysDocumentNumber">PDN:</label></td>
            <td><input type="text" name="pegasysDocumentNumber" id="pegasysDocumentNumber" value="@Context.Request["pegasysDocumentNumber"]" /></td>
            <td class="label-container"><label for="pegasysTitleNumber">Pegasys Title:</label></td>
            <td><input type="text" name="pegasysTitleNumber" id="pegasysTitleNumber" value="@Context.Request["pegasysTitleNumber"]" /></td>

        </tr>
        <tr>
            <td class="label-container"><label for="fund">Fund:</label></td>
            <td><input type="text" name="fund" id="fund" value="@Context.Request["fund"]" /></td>
            <td class="label-container"><label for="organization">Org:</label></td>
            <td><input type="text" name="organization" id="organization" value="@Context.Request["organization"]" /></td>
            <td class="label-container"><label for="baCode">BA Code:</label></td>
            <td>@Html.DropDownList("baCode", Model.BaCodes, "", new { @class = "form-control" })</td>

        </tr>
        <tr>
            <td class="label-container"><label for="pegasysVendorName">Pegasys Vendor Name:</label></td>
            <td><input type="text" name="pegasysVendorName" id="pegasysVendorName" value="@Context.Request["pegasysVendorName"]" /></td>
            <td class="label-container"><label for="contractingOfficersName">Contracting Officers Name:</label></td>
            <td><input type="text" name="contractingOfficersName" id="contractingOfficersName" value="@Context.Request["contractingOfficersName"]" /></td>
            <td class="label-container"><label for="currentlyAssignedTo">Currently Assigned to:</label></td>
            <td><input type="text" name="currentlyAssignedTo" id="currentlyAssignedTo" value="@Context.Request["currentlyAssignedTo"]" /></td>
        </tr>
        <tr>
            <td class="label-container"><label for="hasBeenAssignedto">Has been Assigned to:</label></td>
            <td><input type="text" name="hasBeenAssignedto" id="hasBeenAssignedto" value="@Context.Request["hasBeenAssignedto"]" /></td>
            <td class="label-container"><label for="awardNumber">Award #:</label></td>
            <td><input type="text" name="awardNumber" id="awardNumber" value="@Context.Request["awardNumber"]" /></td>
            <td class="label-container"><label for="reasonIncludedInReview">Reason Included In Review:</label></td>
            <td>@Html.DropDownList("reasons", Model.Reasons, "", new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td class="label-container"><label for="valid">Valid:</label></td>
            <td>
                <select id="valid" name="valid" class="form-control">
                    <option></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </td>
            <td class="label-container"><label for="status">Status:</label></td>
            <td>@Html.DropDownList("status", Model.Statuses, "", new { @class = "form-control" })</td>
            <td class="label-container"><label for="uloId">Ulo Id:</label></td>
            <td><input type="text" name="uloId" id="uloId" value="@Context.Request["uloId"]" /></td>
        </tr>
        @if (User.HasPermission(ApplicationPermissionNames.CanReassign))
        {
        <tr>
            <td class="label-container"><label for="reassignable">Reassignable?:</label></td>
            <td><input type="checkbox" name="reassignableByMe" id="reassignable" value="true" @(Model.IsReassignable?"checked=\"checked\"":"") /></td>
        </tr>
        }
        <tr>
            <td colspan="4">
                <button id="filterWorkflows" class="btn btn-primary">
                    Apply Filters
                </button>
                <button id="clearFilters" class="btn">
                    Clear Filters
                </button>
            </td>
        </tr>
    </table>
}
<br />
