@using RevolutionaryStuff.Core
@using GSA.UnliquidatedObligations.BusinessLayer.Authorization
@using GSA.UnliquidatedObligations.BusinessLayer.Data
@using GSA.UnliquidatedObligations.Web.Controllers
@model GSA.UnliquidatedObligations.Web.Models.PdnDetailsModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    this.SetTitles(PageKeys.PdnAttributes, $"Excluded PDNs for Region {Model.Region.RegionNumber}", "PDN Attributes");
}

@*@using (Html.BeginForm(PdnController.ActionNames.Save, PdnController.Name, new { regionKey = Model.RegionKey }, FormMethod.Post, new { style = "display:inline" }))*@
<form asp-action="@PdnController.ActionNames.Save" asp-controller="@PdnController.Name" asp-route-regionKey="@Model.RegionKey" method="post" class="inline-form" role="form">

    @Html.AntiForgeryToken()
    @Html.HiddenFor(Model => Model.RegionKey)

    <div>
        <dl class="dl-horizontal">
            <dt>
                Excluded PDNs:
            </dt>
            <dd>
                <textarea name="pdns" cols="200" rows="20" style="max-width:600px">@Model.ExcludedPDNs.Select(z=>z.PegasysDocumentNumber).Format(", ")</textarea>
            </dd>
        </dl>
    </div>

    @if (User.HasPermission(ApplicationPermissionNames.CanCreateReviews))
    {
        <button type="submit" class="btn btn-primary">Save</button>
    }

</form>