@model GSA.UnliquidatedObligations.Web.Models.UloWfQuestionsViewModel
@* TODO: Need to add more styling for responsiveness  *@
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Workflow History (@Model.Questions.Count)</h3>
    </div>
    <div class="panel-body">
        @if (Model.Questions.Count == 0)
        {
            <div class="noDataMessage">No history has been generated yet.</div>
        }
        else
        {
            <table class="table table-responsive table-striped documents-list" id="historyTable">
                <tr class="documents-heading-row">
                    <th>
                        Person
                    </th>
                    <th>
                        Answer
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Justification
                    </th>
                    <th>
                        Comments
                    </th>
                </tr>
                @foreach (var question in Model.Questions)
                {
                    <tr>
                        <td>@question.Username</td>
                        <td>@question.Answer</td>
                        <td>@PortalHelpers.ToLocalizedDateTime(question.CreatedAtUtc)</td>
                        <td>@question.Justification</td>
                        <td>@question.Comments</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
