@using GSA.UnliquidatedObligations.BusinessLayer.Authorization
@using GSA.UnliquidatedObligations.BusinessLayer.Data
@model GSA.UnliquidatedObligations.Web.Models.ReviewDetailsModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal review-details">
        <dt>
            Review ID:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.ReviewId)
        </dd>
        <dt>
            Created At:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.CreatedAt)
        </dd>
        <dt>
            Review Name:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.ReviewName)
        </dd>
        <dt>
            Status:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.Status)
        </dd>
        <dt>
            Type of Review:
        </dt>
        <dd>
            @{
                var reviewType = (ReviewTypeEnum)Model.Review.ReviewTypeId;
                var reviewTypeName = reviewType.GetDisplayName();
            }
            @reviewTypeName
        </dd>
        <dt>
            Review Scope:
        </dt>
        <dd>
            @{
                var scope = (ReviewScopeEnum)Model.Review.ReviewScopeId;
                var scopeName = scope.GetDisplayName();
            }
            @scopeName
        </dd>
        <dt>
            Review As of Date:
        </dt>
        <dd>
            @{
                var reviewAsOfDate = "";
                if (Model.Review.ReviewDateInitiated != null)
                {
                    reviewAsOfDate = Convert.ToDateTime(Model.Review.ReviewDateInitiated).ToString("MM/dd/yyyy");
                }
            }
            @reviewAsOfDate
        </dd>
        <dt>
            Comments:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.Comments)
        </dd>
        <dt>
            Region:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.Region.RegionName)
        </dd>
        <dt>
            442 Uploads:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewUploadStats.PO442UploadStats)
        </dd>
        <dt>
            Reta Uploads:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewUploadStats.RetaUploadStats)
        </dd>
        <dt>
            Easi Uploads:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewUploadStats.EasiUploadStats)
        </dd>
        <dt>
            192 Uploads:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewUploadStats.PO192Stats)
        </dd>

        <dt>
            Ulos Created:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewUploadStats.UlosCreatedStats)
        </dd>
        <dt>
            Assigned to Person Users:
        </dt>
        <dd>
            @{
                var personUserStats = Model.ReviewUploadStats.AssignedToPersonStats + Model.ReviewUploadStats.AssignedToSystemTheCloserStats;
            }
            @personUserStats
        </dd>
        <dt>
            Assigned to Group Users:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewUploadStats.AssignedToGroupStats)
        </dd>
        <dt>
            Pre-Assignment:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReviewUploadStats.AssignedToSystePreAssignmentStats)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
