@using GSA.UnliquidatedObligations.BusinessLayer.Authorization
@using GSA.UnliquidatedObligations.BusinessLayer.Data
@model IEnumerable<GSA.UnliquidatedObligations.BusinessLayer.Data.Review>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    @if (Model.Any())
    {
        <tr>
            <th>
                @Html.SortableHeaderFor(z => z.ReviewName, overrideDisplayName: "Review Name")
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Status)
            </th>
            <th>
                Type of Review
            </th>
            <th>
                Scope
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Comments)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Region.RegionName, overrideDisplayName: "Region Name")
            </th>
            @*<th></th>*@
        </tr>
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @{
                    var reviewType = (ReviewTypeEnum) item.ReviewTypeId;
                    var reviewTypeName = reviewType.GetDisplayName();
                }
                @reviewTypeName
            </td>
            <td>
                @{
                    var scope = (ReviewScopeEnum) item.ReviewScopeId;
                    var scopeName = scope.GetDisplayName();
                }
                @scopeName
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.RegionName)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ReviewId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ReviewId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ReviewId })
            </td>*@
        </tr>
    }

</table>

@Html.Partial("_PaginationPartial")

@if (User.HasPermission(ApplicationPermissionNames.CanCreateReviews))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}