@using GSA.UnliquidatedObligations.Utility;
@using GSA.UnliquidatedObligations.Web.Controllers;
@model GSA.UnliquidatedObligations.BusinessLayer.Data.Reporting.ReportDescription
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h1>@Model.Title</h1>
        @if (Model.Description != null)
        {
            <p class="subheading">@Model.Description</p>
        }
    </div>
</div>

@using (Html.BeginForm(ReportsController.ActionNames.ExecuteReport, null, new { name = Model.Name }, FormMethod.Post, new { @class = "inline-form", role = "form" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    foreach (var p in Model.Parameters.Where(z=>!z.IsHardcoded))
    {
        string htmlInputType;
        if (p.ClrType.IsNumber())
        {
            htmlInputType = "number";
        }
        if (p.ClrType == typeof(DateTime))
        {
            htmlInputType = "date";
        }
        else
        {
            htmlInputType = "text";
        }
        <div class="row">
            <div class="col-sm-12">
                <div class="form-row">
                    <label for="@p.SqlParameterName">@p.Title</label>
                    <input class="form-control" name="@p.SqlParameterName" type="@htmlInputType" required="required" />
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-xs-12 text-right">
            <input type="submit" value="Execute" class="btn btn-default btn-primary btn-large" />
        </div>
    </div>
}