@using GSA.UnliquidatedObligations.BusinessLayer.Authorization
@model GSA.UnliquidatedObligations.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "margin-top:20px" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-8">
                        @if (!Model.ShowUserNotInDBMessage)
                        {
                            <input type="submit" value="Log in" class="btn btn-default" />
                        }
                        else
                        {
                            @Html.Encode("You do not have access to the ULO system. Please contact your Ulo coordinator.")
                        }
                    </div>
                </div>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-8">
        @if (User.Identity.IsAuthenticated && !User.HasPermission(ApplicationPermissionNames.ApplicationUser))
        {
            @Html.Partial("~/Views/Shared/_AuthenticatedNotAuthorized.cshtml")
            <hr />
        }
        @Html.Partial("~/Views/Shared/_ApplicationDescription.cshtml")
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}