<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ULO</title>
    <link rel="icon" href="~/images/favicon.png" type="image/png">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-multiselect.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/ULO/reviews.css" />
        <link rel="stylesheet" href="~/css/ULO/users.css" />
        <link rel="stylesheet" href="~/css/ULO/Details/ulo.css" />
        <link rel="stylesheet" href="~/css/ULO/Details/notes.css" />
        <link rel="stylesheet" href="~/css/ULO/Workflows/advance.css" />
        <link rel="stylesheet" href="~/css/ULO/Workflows/Documents.css" />
        <link rel="stylesheet" href="~/css/ULO/Workflows/reassignment.css" />
        <link rel="stylesheet" href="~/css/ULO/Workflows/workflowDescription.css" />
        <link rel="stylesheet" href="~/css/ULO/Workflows/workflowQuestions.css" />
        <link rel="stylesheet" href="~/css/ULO/Workflows/workflows.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/js/jquery.form.min.js"></script>
        <script type="text/javascript" src="~/js/bootstrap-multiselect.js"></script>
        <script type="text/javascript" src="~/js/ULO/site.js"></script>
        <script type="text/javascript" src="~/js/ULO/advance.js"></script>
        <script type="text/javascript" src="~/js/ULO/documents.js"></script>
        <script type="text/javascript" src="~/js/ULO/attachments.js"></script>
        <script type="text/javascript" src="~/js/ULO/cookies.js"></script>
        <script type="text/javascript" src="~/js/ULO/documents.js"></script>
        <script type="text/javascript" src="~/js/ULO/filter.js"></script>
        <script type="text/javascript" src="~/js/ULO/polyfills.js"></script>
        <script type="text/javascript" src="~/js/ULO/recordsListing.js"></script>
        <script type="text/javascript" src="~/js/ULO/reviews.js"></script>
        <script type="text/javascript" src="~/js/ULO/users.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/all.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
    <partial name="_Navigation" />
    <partial name="_CookieConsentPartial" />

    <div class="container-fluid body-content" style="margin-top: 30px; margin-bottom: 1.5cm">
        @{
            var pageAlerts = PageAlert.GetThenClearAllMyPageAlerts(TempData, ViewData);
        }
        @if (pageAlerts.Count > 0)
        {
        <div style="margin-top:30px">
            @foreach (var pa in pageAlerts)
            {
                string alertClass;
                switch (pa.AlertType)
                {
                    case PageAlert.AlertTypes.Danger:
                        alertClass = "danger";
                        break;
                    case PageAlert.AlertTypes.Success:
                        alertClass = "success";
                        break;
                    case PageAlert.AlertTypes.Warning:
                        alertClass = "warning";
                        break;
                    case PageAlert.AlertTypes.Info:
                    default:
                        alertClass = "info";
                        break;
                }
                <div class="alert alert-@alertClass alert-dismissable" id="universal-alert-@pa.AlertId">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fa fa-check" aria-hidden="true"></i> <span id="universal-alert-item-text"> @pa.Message </span>
                </div>
                if (pa.AutoDismiss)
                {
                    <script type="text/javascript" later>
                            $("#universal-alert-@pa.AlertId").fadeIn(500).delay(4000).hide(500);
                    </script>
                }
                else
                {
                    <script type="text/javascript" later>
                            $("#universal-alert-@pa.AlertId").fadeIn(500).delay(4000);
                    </script>
                }
            }
        </div>
        }

        @if (ViewBag.PageTitle != null)
        {
            <div class="row">
                <div class="col-xs-12">
                    <h1>@ViewBag.PageTitle</h1>
                    @if (ViewBag.PageSubTitle != null)
                    {
                        <p class="subheading">@ViewBag.PageSubTitle</p>
                    }
                </div>
            </div>
        }

        @RenderBody()
    </div>

    <footer id="footer-site">
        <p>
            &copy; @DateTime.Now.Year - ULO
            @if (PortalHelpers.SprintConfigOptions.Value.ShowSprintNameOnFooter)
            {
                <text>
                    - @PortalHelpers.SprintConfigOptions.Value.SprintName
                </text>
            }
            else
            {
                <!--
                Sprint: @PortalHelpers.SprintConfigOptions.Value.SprintName
                    -->
            }
        </p>
    </footer>
    @RenderSection("Scripts", required: false)
    @RevolutionaryStuff.AspNetCore.AspHelpers.RenderLaterContent(Html)
</body>
</html>
