@using System.Net.Mail
@using GSA.UnliquidatedObligations.Web.Models
@model GSA.UnliquidatedObligations.Web.Models.DocumentModalViewModel

@{
    var id = Model.DocumentId + "Modal";
    var label = id + "Label";
    var body = id + "Body";
    var documentType = id + "DocumentType";
    var documentName = id + "DocumentName";

    var deleteConfId = id + "Delete";
    var deleteConfLabel = deleteConfId + "Label";
    var deleteConfBody = deleteConfId + "Body";
}

<div class="modal fade document-modal" id="@id" tabindex="-1" role="dialog" aria-labelledby="@label" aria-hidden="true">
    //TODO: Add antiforgery token
    @*@Html.AntiForgeryToken()*@
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="@label">Document</h5>
            </div>
            <div id="@body" class="modal-body">
                <div class="row">
                    @Html.LabelFor(model => model.DocumentName, "Document Name:", htmlAttributes: new { @class = "col-md-4" })
                    @Html.TextBoxFor(model => model.DocumentName, htmlAttributes: new { id = @documentName, @class = "col-md-8 document-name" })
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.DocumentTypeId, "Document Type:", htmlAttributes: new {@class = "col-md-4"})
                    @Html.DropDownListFor(model => model.DocumentTypeId, Model.DocumentTypes, "Select One..", htmlAttributes: new {id = @documentType, @class = "col-md-8 document-type-choices"})
                </div>
                <div class="row">
                    @Html.Partial("~/Views/Ulo/Details/Documents/Attachments/_Index.cshtml", Model.AttachmentsViewModel)
                </div>
                @*<div class="row">
                    @Html.LabelFor(model => model.JustificationId, "Justification:", htmlAttributes: new { @class = "col-md-4" })
                    @Html.DropDownListFor(model => model.JustificationId, Model.Justifications, "Select One...", htmlAttributes: new { @class = "col-md-8" })
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.Comments, "Comments:", htmlAttributes: new { @class = "col-md-4" })
                    @Html.TextAreaFor(model => model.Comments, htmlAttributes: new { @class = "col-md-8" })
                </div>*@
            </div>
            <div class="modal-footer">
                <div class="document-error-msg">This is an Errors</div>
                <button type="button" class="btn btn-secondary close-document-modal" data-dismiss="modal">Close</button>

                <button type="button" data-target="@Model.DocumentId" class="btn btn-primary save-document">Save Document</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade delete-document-modal" id="@deleteConfId" tabindex="-1" role="dialog" aria-labelledby="@deleteConfLabel" aria-hidden="true">
    //TODO: Add antiforgery token
    @*@Html.AntiForgeryToken()*@
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="@deleteConfBody" class="modal-body">
                <div class="row">
                   Are you sure you want to delete this document?
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

                <button type="button" data-target="@Model.DocumentId" class="btn btn-danger delete-document" data-dismiss="modal">Delete Document</button>
            </div>
        </div>
    </div>
</div>
