@using GSA.UnliquidatedObligations.Web.Models
@using RevolutionaryStuff.Core
@using System.Linq
@model IEnumerable<GSA.UnliquidatedObligations.BusinessLayer.Data.Workflow>
@{
    var workflowDescription = (GSA.UnliquidatedObligations.BusinessLayer.Workflow.IWorkflowDescription)ViewBag.WorkflowDescription;
    var todaysDate = DateTime.Today;
    var showReassignmentButton = ViewBag.ShowReassignButton is bool ? (bool)ViewBag.ShowReassignButton : false;
    var userReassignRegions = User.GetReassignmentGroupRegions();
    bool anyReassignmentsApplicable = false;
}
<table class="table table-responsive active-workflows">
    <tr>
        <th>
            @Html.SortableHeaderFor(z => z.TargetUloId, overrideDisplayName: "ULO ID")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.ReviewId, overrideDisplayName: "Review ID")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.Region, overrideDisplayName: "Region")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.PegasysDocumentNumber, overrideDisplayName: "PDN")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.Prog, overrideDisplayName: "BA Code")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.Status, overrideDisplayName: "Review Status")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.Organization, overrideDisplayName: "Org Code")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.TotalLine, overrideDisplayName: "Amount")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.Valid, overrideDisplayName: "Valid")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.DueAtUtc, overrideDisplayName: "Due Date")
        </th>
        <th>Days left</th>
        @if (showReassignmentButton)
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr class="active-workflows-record" data-id="@item.WorkflowId">
            <td>
                @Html.ActionLink("View ULO " + item.TargetUloId.ToString(), "Details", "Ulo", new { uloId = item.UnliquidatedObligation.UloId, workflowId = item.WorkflowId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnliquidatedObligation.ReviewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnliquidatedObligation.Region.RegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnliquidatedObligation.PegasysDocumentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnliquidatedObligation.Prog)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UnliquidatedObligation.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnliquidatedObligation.Organization)
            </td>
            <td>
                @Html.Currency(Convert.ToDecimal(item.UnliquidatedObligation.TotalLine))
            </td>
            <td>
                @{
                    var isValid = item.UnliquidatedObligation.Valid == true ? "Yes" : "No";
                    @Html.Encode(isValid)
                }
            </td>
            <td>
                @* TODO: Get Due Dates from Review *@
                @*@Html.DisplayFor(modelItem => item.UnliquidatedObligation.ExpectedDateForCompletionResolution)*@
            </td>
            <td>
                @{
                    @*var dueDate = Convert.ToDateTime(item.UnliquidatedObligation.ExpectedDateForCompletionResolution);
                        var daysLeft = dueDate.Subtract(todaysDate).TotalDays;
                        @Html.Encode(daysLeft)*@

                }
            </td>
            <td>
                @if (showReassignmentButton)
                {
                    anyReassignmentsApplicable = true;
                    @Html.Partial("~/Views/Ulo/Details/Workflow/RequestForReassignments/_ReassignButtonForMasterList.cshtml", new WorkflowViewModel(item, true, workflowDescription))
                }
            </td>
        </tr>
                    }
</table>
@if (showReassignmentButton && anyReassignmentsApplicable)
{
    foreach (var item in Model)
    {
        var rfr = item.RequestForReassignments.FirstOrDefault();
        if (rfr == null)
        {
            Html.RenderAction("Details", "RequestForReassignments", new { workflowId = item.WorkflowId, uloRegionId = item.UnliquidatedObligation.RegionId, isAdmin = true });
        }
        else
        {
            Html.RenderAction("Details", "RequestForReassignments", new { workflowId = item.WorkflowId, uloRegionId = item.UnliquidatedObligation.RegionId, isAdmin = true, id = rfr.RequestForReassignmentID });
        }
    }
}
@Html.Partial("_PaginationPartial")

