@using GSA.UnliquidatedObligations.Web.Controllers
@using GSA.UnliquidatedObligations.BusinessLayer.Data
@using System.Linq
@model IEnumerable<Workflow>
@{
    var workflowDescription = (GSA.UnliquidatedObligations.BusinessLayer.Workflow.IWorkflowDescription)ViewBag.WorkflowDescription;
    var todaysDate = DateTime.Today;
    var allAreUnassigned = ViewBag.AllAreUnassigned is bool ? (bool)ViewBag.AllAreUnassigned : false;
    var showReassignmentButton = allAreUnassigned || (ViewBag.ShowReassignButton is bool ? (bool)ViewBag.ShowReassignButton : false);
    var userReassignRegions = User.GetReassignmentGroupRegions();
    var rfrIdByWorkflow = new Dictionary<Workflow, int?>();
}
<table class="table table-responsive active-workflows">
    <tr>
        <th>
            @Html.SortableHeaderFor(z => z.TargetUloId, overrideDisplayName: "ULO ID")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.ReviewId, overrideDisplayName: "Review ID")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.Region.RegionName, overrideDisplayName: "Region")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.PegasysDocumentNumber, overrideDisplayName: "PDN")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.Prog, overrideDisplayName: "BA Code")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.Status, overrideDisplayName: "Review Status")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.Organization, overrideDisplayName: "Org Code")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.TotalLine, overrideDisplayName: "Amount")
        </th>
        <th>
            @Html.SortableHeaderFor(z => z.UnliquidatedObligation.Valid, overrideDisplayName: "Valid")
        </th>
        @if (showReassignmentButton)
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr class="active-workflows-record" data-id="@item.WorkflowId">
            <td>
                @Html.ActionLink("View ULO " + item.TargetUloId.ToString(), UloController.ActionNames.Details, UloController.Name, new { uloId = item.UnliquidatedObligation.UloId, workflowId = item.WorkflowId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnliquidatedObligation.ReviewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnliquidatedObligation.Region.RegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnliquidatedObligation.PegasysDocumentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnliquidatedObligation.Prog)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UnliquidatedObligation.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnliquidatedObligation.Organization)
            </td>
            <td>
                @Html.Currency(Convert.ToDecimal(item.UnliquidatedObligation.TotalLine))
            </td>
            <td>
                @{
                    var isValid = item.UnliquidatedObligation.Valid == true ? "Yes" : "No";
                    @Html.Encode(isValid)
                }
            </td>
            <td>
                @if (showReassignmentButton)
                {
                    int? rfrId = allAreUnassigned ? null : item.GetReassignmentRequest()?.RequestForReassignmentID;
                    if (allAreUnassigned || rfrId != null)
                    {
                        rfrIdByWorkflow[item] = rfrId;
                        var modalId = "#" + item.WorkflowId + "RequestForReassignModal";
                        <button type="button" class="btn btn-primary master request-active" data-toggle="modal" data-target="@modalId">
                            Reassign
                        </button>
                    }
                }
            </td>
        </tr>
    }
</table>
@if (showReassignmentButton && rfrIdByWorkflow.Count>0)
{
    foreach (var kvp in rfrIdByWorkflow)
    {
        var rfrId = kvp.Value;
        var wf = kvp.Key;
        Html.RenderAction(RequestForReassignmentsController.ActionNames.Details, RequestForReassignmentsController.Name, new { workflowId = wf.WorkflowId, uloRegionId = wf.UnliquidatedObligation.RegionId, isAdmin = true, id = rfrId });
    }
}
@Html.Partial("_PaginationPartial")

