@using GSA.UnliquidatedObligations.Web.Controllers
@model GSA.UnliquidatedObligations.Web.Models.AttachmentsViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Attachments</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="table table-responsive table-striped attachments">

                    <tr class="attachments-heading-row @(@Model.Attachments.Count > 0 ? "show" : "hide")">
                        <th>
                            File
                        </th>
                        <th></th>
                    </tr>
                
                @foreach (var attachment in Model.Attachments)
                {

                    var id = "attachment" + attachment.AttachmentsId;
                    <tr class="attachment-row" id="@id">
                        <td class="file-name">
                            @attachment.FileName
                        </td>
                        <td class="actions">
                            @Html.ActionLink("Download", AttachmentsController.ActionNames.Download, AttachmentsController.Name, new { attachmentId = attachment.AttachmentsId }, null)
                            |
                            @Html.ActionLink("View", AttachmentsController.ActionNames.View, AttachmentsController.Name, new { attachmentId = attachment.AttachmentsId }, new { target="_blank" })
                            @if (Model.AllowDocumentEdit)
                            {
                                <text>
                                |
                                <a class='attachments-delete' data-target='@attachment.AttachmentsId'>Delete</a>
                                </text>
                            }
                        </td>
                    </tr>

                }
            </table>

            @Html.Hidden("documentId" + Model.DocumentId + "Hidden", Model.DocumentId, htmlAttributes: new { @class = "document-id-hidden" })

            @if (Model.AllowDocumentEdit)
            {
                <button type="button" class="btn btn-primary attachments-add-btn">Add Attachment</button>
            }
        </div>
    </div>
</div>
